<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JM Bank</title>
    
    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp"
    rel="stylesheet">
    
    <!-- Style -->
    <link rel="stylesheet" href="../../static/css/adm/style_adm.css">
    <link rel="stylesheet" href="../../static/css/adm/modal-adm.css">
    <link rel="stylesheet" href="../../static/css/adm/piramide.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="../../static/js/charts/charts.js"> </script>

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="../../static/img/ico/logo.ico">
    
</head>
<body>
    <div class="container">
        {% include "./adm/aside-adm.html" %}
        <!-------------------- END SIDEBAR -------------------->
        {% include "./adm/modal-edit.html" %}
        {% include "./adm/modal-delet.html" %}
        {% block conteudo %} 
   
        {% endblock %}
    </div>
</body>

    <script src ='https://cdn.plot.ly/plotly-latest.min.js'></script> 
    <script type ='text/javascript'> 
        var graphs = {{graphJSON | safe}}; 
        Plotly.plot('chart',graphs,{}); 
        var graphs2 = {{graphJSON2 | safe}}; 
        Plotly.plot('chart2',graphs2,{}); 
    </script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="../../static/js/adm/piramide.js"></script>
    <script src="../../static/js/adm/test.js"></script>
    <script src="../../static/js/adm/script_adm.js"></script>
</html>

{# graficos #}

<script>
  const transacoesDiaChart = new Chart(
    document.getElementById('transacoesDiaChart'),
    get_transacoes_dia_qtd({{ transacoes_dia_qtd | safe }}),
  );

</script>
