{% extends "./adm/imports-adm.html" %}
{% block conteudo %}
    <main>

       {% with messages = get_flashed_messages() %}
                {% if  'sucesso' in messages[0] %}
                    <ul id="messages" class="list-unstyled">
                    {% for message in messages %}
                        <div class="" style="height: 50px; width: 100%; background-color:#1b9448; display: flex; justify-content: center; align-items: center; border-radius: 10px">
                        <h5 style="color: white"> {{ message }} </h5>
                        </div>
                    {% endfor %}
                    </ul>
                {% endif %}
                {% if  'sucesso' not in messages[0] %}
                    <ul id="messages" class="list-unstyled">
                    {% for message in messages %}
                        <div class="" style="height: 50px; width: 100%; background-color:#b42912; display: flex; justify-content: center; align-items: center; border-radius: 10px">
                        <h5 style="color: white"> {{ message }} </h5>
                        </div>
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}


        <h1>Dashboard</h1>

        <div class="insights">
            <div class="sales">
                <span class="material-icons-sharp">groups_2</span>
                <div class="middle">
                    <div class="left">
                        <h3>Total de Clientes</h3>
                        <h1> {{ total_cliente[0]['total'] }}</h1>
                    </div>
                </div>
            </div>
            <!-------------------- END SALES -------------------->
            <div class="expenses">
                <span class="material-icons-sharp">waterfall_chart</span>
                <div class="middle">
                    <div class="left">
                        <h3>Total em custódia </h3>
                        <h1> {{ total_custodia[0]['total'] | moeda }}</h1>
                    </div>
                </div>
            </div>
            <!-------------------- END EXPENSES -------------------->
            <div class="income">
                <span class="material-icons-sharp">swap_vert</span>
                <div class="middle">
                    <div class="left">
                        <h3> Total de Transações </h3>
                        <h1>{{  total_transacoes[0]['total'] }}</h1>
                    </div>
                </div>
            </div>
            <!-------------------- END INCOME -------------------->
        </div>
        <!-------------------- END INSIGHTS -------------------->
        <div class="transaction-volume">
            <h2> Histórico de transações por dia</h2>
            <div class="grafic" style="width: 100%">
                  <canvas id="transacoesDiaChart"></canvas>
            </div>
        </div>
    </main>
    <!-------------------- END MAIN -------------------->
    <div class="right">
        {% include "./adm/top-adm.html" %}
        <!-- END TOP -->
        <div class="recent-updates">
            <h2>Noticias Recentes</h2>
            <div class="updates">
                
                <div class="update">
                    <div class="profile-photo">
                        <img src="../../static/img/adm/infomoney.png" alt="">
                    </div>
                    <div class="message">
                        <p><b>InfoMoney</b></p>
                        <p>Itaú surpreende com crescimento em crédito de risco e inadimplência controlada, mas ação fecha em queda</p>
                    </div>
                </div>
                
                <div class="update">
                    <div class="profile-photo">
                        <img src="../../static/img/adm/yahoo.svg" alt="">
                    </div>
                    <div class="message">
                        <p><b>Yahoo!</b></p>
                        <p>Um império de criptomoedas de US$ 32 bilhões caiu. As consequências estão se espalhando muito além das criptomoedas.</p>
                    </div>
                </div>

                <div class="update">
                    <div class="profile-photo">
                        <img src="../../static/img/adm/O-Globo.png" alt="">
                    </div>
                    <div class="message">
                        <p><b>O Globo</b></p>
                        <p>Ibovespa sobe, com ajuda de commodities, mas tem pior semana desde junho; dólar cai, mas avança 5,45% em cinco dias</p>
                    </div>
                </div>
                
                <div class="update">
                    <div class="profile-photo">
                        <img src="../../static/img/adm/uol.png" alt="">
                    </div>
                    <div class="message">
                        <p><b>UOL</b></p>
                        <p>Estrangeiros colocam mais dinheiro na Bolsa no mês, mas brasileiros retiram</p>
                    </div>
                </div>
                
                <div class="update">
                    <div class="profile-photo">
                        <img src="../../static/img/adm/veja.webp" alt="">
                    </div>
                    <div class="message">
                        <p><b>Veja</b></p>
                        <p>Bradesco tem pior pregão desde 1998 e perde R$ 31 bi; concorrentes sentem</p>
                    </div>
                </div>
                
                <div class="update">
                    <div class="profile-photo">
                        <img src="../../static/img/adm/Forbes.png" alt="">
                    </div>
                    <div class="message">
                        <p><b>Forbes</b></p>
                        <p>Jeff Bezos doa US$ 174 milhões em ações da Amazon</p>
                    </div>
                </div>
                
                <div class="update">
                    <div class="profile-photo">
                        <img src="../../static/img/adm/cnn.png" alt="">
                    </div>
                    <div class="message">
                        <p><b>CNN</b></p>
                        <p>Preço médio da gasolina sobe pela quinta semana e passa dos R$ 5, aponta ANP</p>
                    </div>
                </div>
                
            </div>
        </div>
        <!-------------------- END RECENT UPDATES -------------------->
    </div>
    <!-------------------- END RIGHT -------------------->
{% endblock %}