<div id="modal-delet" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h2>Deletar Cliente</h2>
        </div>
        <div class="modal-body">
            <form action="">
                <div class="form-group">
                    <h3>Você deseja mesmo excluir este cliente permanentemente?</h3>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <a href="" class="btn btn-secondary" id="cancelar">Não</a>
            <a href="" class="btn btn-primary" id="confirmar">Sim</a>
        </div>
    </div>
</div>