<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JM Bank</title>
    <link rel="stylesheet" href="../../static/css/login/login.css">
    <script src="../../static/js/login/login.js"></script>
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="../../static/img/ico/logo.ico">
</head>
<body class="bg">


    <section class="area-login">

        {% with messages = get_flashed_messages() %}
        {% if messages[0] == 'falha no login' %}
            <ul id="messages" class="list-unstyled avisoInsucesso">
            {% for message in messages %}
                <li class="alert alert-danger">{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}

        {% endwith %}

        <div class="login">
            <h1 class="titulo">JM Bank</h1>
        </div>

        <form action="autenticar" method="post">
            <input id="cpf" type="text" name="cpf"  placeholder="CPF" autofocus onkeypress="onlynumber()">
            <input id="senha"  type="password" name="senha"  placeholder="Senha" autofocus >
            <div class="parentBotao">
                <button type="submit" style="" class="botao">Logar</button>
            </div>
{#            <a href="/user" id="btn" class="botao" onclick="verificar()">Entrar</a>#}
        </form>
        <div class="parentInfo">
            <p class="info"> Ainda não tem uma conta <a href="/abrir_conta"> Criar uma conta </a> </p>
        </div>

    </section>
</body>
    <script type="text/javascript" src="https://code.jquery.com./jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
</html>