{% extends "./user/imports.html" %}
{% block conteudo %}
<div class="container">
    {% include "./user/modal_transacoes.html" %}
        {% include "./user/modal_settings.html" %}
        {% include "./user/aside.html" %}
    <!-------------------- END SIDEBAR -------------------->
    <main>
        <h1>Dashboard</h1>

        <div class="recent-orders">
            <h2>Analytics</h2>
        </div>

        <div style="display: flex; justify-content: space-around">
            <div class="grafic" style="width: 40%">
                  <canvas id="chartDespesas"></canvas>
            </div>

            <div class="grafic" style="width: 60%">
                  <canvas id="myChart"></canvas>
            </div>
        </div>
        <div class="grafic" style="width: 100%">
                  <canvas id="chartMovUser"></canvas>
        </div>

    </main>
    <div class="right">
        {% include "./user/top_right.html" %}
    </div>
</div>
{% endblock %}