<aside>
    <div class="top">
        <div class="logo">
            <img src="../../static/img/dash_user/logo.png">
            <h2>B<span class="danger">AN</span>K</h2>
        </div>
        <div class="close" id="close-btn">
            <span class="material-icons-sharp">close</span>
        </div>
    </div>

    <div class="sidebar">
        <a href="/user" id="dashboard" class="active">
            <span class="material-icons-sharp">grid_view</span>
            <h3>Dashboard</h3>
        </a>
        <a href="/user/contatos" id="contatos">
            <span class="material-icons-sharp">person_outline</span>
            <h3>Contatos</h3>
        </a>
        <a href="/user/extrato" id="extrato">
            <span class="material-icons-sharp">receipt_long</span>
            <h3>EXTRATO</h3>
        </a>
        <a href="/user" id="analytics">
            <span class="material-icons-sharp">insights</span>
            <h3>Analytics</h3>
        </a>
        <a href="/user#modal-t" id="transactions">
            <span class="material-icons-sharp">import_export</span>
            <h3>Transações</h3>
        </a>
        <a href="/user" id="settings">
            <span class="material-icons-sharp">settings</span>
            <h3>Settings</h3>
        </a>

        <a href="/">
            <span class="material-icons-sharp">logout</span>
            <h3>Logout</h3>
        </a>
    </div>
</aside>