<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JM Bank</title>

    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp"
      rel="stylesheet">

    <!-- Style -->
    <link rel="stylesheet" href="../../static/css/dash_user/style_clients.css">
    <link rel="stylesheet" href="../../static/css/dash_user/modal.css">
</head>
<body>
    {% block conteudo %} 
   
    {% endblock %}
</body>

    <!-- JS -->
    <script src="../../static/js/dash_user/script_clients.js"></script>

</html>
