<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JM Bank</title>

    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp"
      rel="stylesheet">

    <!-- Style -->
    <link rel="stylesheet" href="../../static/css/dash_user/style_clients.css">
    <link rel="stylesheet" href="../../static/css/dash_user/modal.css">
     <script src ='https://cdn.plot.ly/plotly-latest.min.js'></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="../../static/js/charts/charts.js"> </script>


    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="../../static/img/ico/logo.ico">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">



</head>
<body>
    {% block conteudo %} 
   
    {% endblock %}
</body>

    <!-- JS -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="../../static/js/dash_user/script_clients.js"></script>

</html>

{# Gráficos #}

<script>
  const myChart = new Chart(
    document.getElementById('myChart'),
    get_config_chart({{ grafico_js | safe }}),
  );

  const myChart2 = new Chart(
    document.getElementById('chartDespesas'),
      get_chart_despesas({{ grafico_despesas | safe }})
  );

  const myChart3 = new Chart(
    document.getElementById('chartMovUser'),
      get_chart_mov_user({{ grafico_movimentacoes_user | safe }})
  );
</script>
