<div class="top">
    <button id="menu-btn">
        <span class="material-icons-sharp">menu</span>
    </button>
    <div class="theme-toggler">
        <span class="material-icons-sharp active">light_mode</span>
        <span class="material-icons-sharp">dark_mode</span>
    </div>
    <div class="profile">
        <div class="info">
            <p>Hey, <b>{{ cliente.nome }}</b></p>
            <small class="text-muted">Agência: 001<br>Conta: {{ conta.conta }}</small>
        </div>
        <div class="profile-photo" style="width: 6rem; height: 4rem">
            <a href="#modal-settings" style="">
                {% if conta.conta + '.jpg' in image_path %}
                <img src="/uploads/{{ conta.conta }}.jpg" style="height: 100%">
                {% else %}
                    <img src="/uploads/{{ 'capa_padrao' }}.jpg" style="height: 100%">
                {% endif %}
            </a>
        </div>
    </div>
</div>