<div class="top">
    <button id="menu-btn">
        <span class="material-icons-sharp">menu</span>
    </button>
    <div class="theme-toggler">
        <span class="material-icons-sharp active">light_mode</span>
        <span class="material-icons-sharp">dark_mode</span>
    </div>
    <div class="profile">
        <div class="info">
            <p>Hey, <b>Matheus</b></p>
            <small class="text-muted">Agência: 001<br>Conta: 03265-8</small>
        </div>
        <div class="profile-photo">
            <a href="#modal-settings">
                <img src="https://t4.ftcdn.net/jpg/04/10/43/77/360_F_410437733_hdq4Q3QOH9uwh0mcqAhRFzOKfrCR24Ta.jpg">
            </a>
        </div>
    </div>
</div>